* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin-top: 30vh;
}

input {
    padding: 12px;
    margin: 10px auto;
}

.js-btn {
    padding: 10px;
    margin: 10px auto;
}

.form {
    display: flex;
    flex-direction: row;
}

